*{
    margin: 0%;
    padding: 0%;
}
body{
    background: #33CCCC;
    color: #1D7373;
}
.modal{
    display: block;
    background: #009999	;
    color: black;
    font-size: 24px;
    text-align: center;
    padding: 10px;
    width: 300px;
    height: 300px;
    border: 2px solid black;
    border-radius: 8px;
    overflow: hidden;

}
.layout{
    position: fixed;
    top: 0%;
    left: 0%;
    display: none;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 27, 39, 0.551);
}
#list{
    list-style-type: none;
    animation: openopen 1s linear;
    /* overflow: hidden; */
    border: 1px solid red;
}
@keyframes openopen{
    from{
transform: translateY(-300%);
transform: rotate(0deg);      }
    to{
        transform: translateY(0%);
    transform: rotate(180deg);    }
    }
    

h3{
    cursor: pointer;
}
